<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria</title>
</head>
<body>
    <h2>🍕 Pizzaria</h2>

    <form method="POST" action="/login">
        <input type="email" name="email" placeholder="email" required>
        <input type="password" name="password" placeholder="password" required>
        <button type="submit">Entrar</button>
        <% if (erro) { %>
            <p style="color:red">
                <% =erro %>
            </p>
        <% if (erro) } %>
    </form>
</body>
</html>